body,html
{
    background-color: #f0f2f5;
    
}
.all
{
    display: flex;
    background-color: #f0f2f5;
    text-align: center;
}
.left
{
    margin-left: 22%;
    margin-top: 12%;
    
}
.right
{
    margin-left: 26%;
    margin-top: 30%;
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px grey;
}
.ip
{
 padding: 5px;
 width: 95%;
 margin-left: 2%;
 margin-top: 4%;
 height:40px;
 border:gray solid 2px;
 border-radius: 4px;
 font-size: 20px;
}
.button2
{
    background-color: rgb(86, 212, 86);
    width: 60%; height: 12%; color: azure;
    margin-left: 5%;
    border-radius: 5px;
    border: solid rgb(86, 212, 86) ;
    font-size: 18px;
    
}
.button1
{
    font-size: 30px;
    background-color:rgb(73, 73, 225);
    width: 90%; height: 12%; color: azure;
    margin-left: 5%;
    margin-top :10%;
    margin-bottom: 7%;
    border-radius: 5px;
    border: solid rgb(73, 73, 225) ;
}
.link
{
   position:inherit;
}
.content
{
    position: relative;
    margin-left: 15%;
    font-size:30px; 
     width: 100%;
}